<!DOCTYPE html>
<html ng-app="myapp">
<head>
<meta charset="utf-8">
<title>My Cosmetic Store</title>
<link rel="stylesheet" href="css/bootstrap.css"  type="text/css"/>
<link rel="stylesheet" href="css/bootstrap.mini.css"  type="text/css"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script> 
$(document).ready(function(){
    var sentence1="No,Thanx!!";
    var sentence2="Review Us";
  $("#feedbackpanel").click(function(){
    
    $("#feedback").fadeToggle("fast");
    if( $("#feedbackpanel").text()==sentence1)
    {
    $("#feedbackpanel").text(sentence2);
    $("#sideimage").css("height", "110px");
    $("#reviewSide").hide();
    $("#secondside").show();
    $("#thirdside").show();

}
else
{
  $("#feedbackpanel").text(sentence1);  
  $("#sideimage").css("height", "400px");
  $("#secondside").hide();
    $("#thirdside").hide();
    $("#reviewSide").show();
  
}

    
   
  });

});
</script>
</head>
<body>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
	  <script src="js/bootstrap.js"></script>
	  <script src="script.js"></script>
	  <div class"container"   ng-controller="reviewCtrl">
	  <div class="headert">
       Cosmetic Online 
	  </div>
	  <div class="navbar navbar-inverse">
              
                <div class="container">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="fragrances.html">Fragrances</a></li>
                    <li><a href="haircare.html">Hair Care</a></li>
                    <li><a href="skincare.html">Skin Care</a></li>
                    
                    <li><a href="contact.html">Contact us</a></li>
                  </ul>
                

                </div>
             
            </div>
            <div class="row">
            	<div class="col-md-3">
            		<div class="thumbnail" id="homethumb">
            			<h3 style="font-family: 'Comic Sans MS", cursive, sans-serif';">What's new???</h3>
                        <br>
      <img src="images/perfume.jpg"  style="min-height:200px;height:200px;">
      <br>
      <div class="caption" style="font-family: 'Comic Sans MS", cursive, sans-serif';'>
        
        <p>The new RED perfume is a mixture of fragrant essential oils or aroma compounds, fixatives and solvents used to give the human body, animals, food, objects, and living spaces "a pleasant scent."[1] Perfumes have been known to exist in some of the earliest human civilizations, either through ancient texts or from archaeological digs. Modern perfumery began in the late 19th century with the commercial synthesis of aroma compounds such as vanillin or coumarin.</p>
        <br>
        <p><a href="fragrances.html" class="btn btn-danger" role="button">Buy !!</a></p>
      </div>
    </div>
            	</div>
            	<div class="col-md-6">
            		<!-- <img src="images/Cosmetics.jpg" id="homeimage"></img> -->
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
 
  <!-- Slider Content (Wrapper for slides )-->
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/Cosmetics.jpg" alt="..." id="homeimage">

    
    </div>
    <div class="item">
      <img src="images/cosmetics2.jpg" alt="..." id="homeimage">
      
    
    </div>
    <div class="item">
      <img src="images/cosmetics3.jpg" alt="..." id="homeimage">
      
    
    </div>
    <div class="item">
      <img src="images/cosmetic4.jpg" alt="..." id="homeimage">
      
    
    </div>
   
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
            	</div>
                <div class="col-md-3" id="thirdcolumn">
            	<div id="sideimage">
                   <div id="feedbackpanel" class="btn btn-danger">Review Us</div>
                    <div id="feedback">
                    <form ng-submit="addReview()">
                      <input type="text" style="margin-top:30px;border:2px solid black;width:203px;" placeholder="Your Name.." ng-model="yourName">
 <textarea placeholder="Please give us a review.." rows="9" cols="30" style="margin-top:30px;border:2px solid black;" ng-model="yourRev">
</textarea>
<br>
<br>

<input type="submit" class="btn btn-danger" value="Submit">

</form>

</div>
<br>
<br>
<!-- <center>
<a href="reviewPage.html">View Reviews</a>

</center>
 -->
</div>

</div>
<div id="reviewSide" style="display:none;border:1px solid black;
  width: 230px;margin-top:410px;margin-left: 1050px;">
   <ul>
        <li ng-repeat="item in reviews">
         <span><b>{{item.name}} :</b></span>
         <br>
         <span>{{item.rev}}</span>
        </li>
      </ul>
  </div>
<div id="secondside">
    <center>
    <br>
    Find out which color suits your skin tone!!
    <br>
    <br><br>
    
    
    <a href="skintype.html" class="btn btn-danger" role="button">Let's Go!</a>
    </center>
    </div>
    <div id="thirdside">
        <center>
    <br>
    Follow us on Twitter!!!
    <br>
    <br><br>
    
    
    <a href="#" class="btn btn-danger" role="button" >Let's Go!</a>
    </center>
    </div>
            	
            </div>
            <div class="navbar navbar-inverse navbar-fixed-bottom" id="footert">
Twinkle Copyright 2014
            </div>
	  </div>
	</body>
	</html>