<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
	<script src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div ng-app="myApp">
		<div>
			<label>Name:</label>
			<input type="text" ng-model="yourName" placeholder="Enter your name here" />
			<br>
			<b>Hii </b><span class="name">{{yourName}}</span><b> !!</b>
		</div>
		<br>
		<hr>
		<br>
		<div ng-controller="TodoCntrl">
			{{remaining()}} of {{todos.length}} remaining
			[<a href="" ng-click="archive()">archive</a>]
			<ul>
				<li ng-repeat="todo in todos">
					<input type="checkbox" ng-model="todo.done">
<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
			<form ng-submit="addTodos()">
				<input type="text" placeholder="Enter todo here" ng-model="todoText">
				<input type="submit" value="Add">
							</form>
					</div>
					<hr>
					<div ng-controller="AvengersCtrl">
					<input type:"text" ng-model="search.name" placeholder="Search Name">  
					<input type="text" ng-model="search.character" placeholder="Search Character">
				
					<br>
						<table>
						<th>Name</th><th>Character</th>
							<tr ng-repeat="people in avengers.cast|filter:search">
								<td>{{people.name | lowercase}}</td><td>{{people.character | uppercase}}</td>
							</tr>
						</table>
					</div>
					<hr>
					
</div>
</div>

<powerpuff></powerpuff>
  
	</body>
</html>