.done-true
{
	text-decoration: line-through;
	color: red;
}
.done-false
{
	font-weight: bold;
	color:green;
}
.name
{
	font-weight: bold;
	color:purple;
}
table, td, th
{
  border: 2px solid black;
  background-color:	#A580C0;
  color:white;
}
td
{
  text-align:center;
  font-size:1em;
}
table
{
  height:150px;
  width:170px;
  
  border-collapse:collapse;
}
th
{
  font-size:1em;
}